.hero-section{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    background-color: #f9f7ff;
}
.hero-section-container{
    width: 80%;
    display: flex;
    gap:2rem;
}
.hero-main, .hero-sub{
    border: 2px solid #121212;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.hero-main{
    width: 70%;
}
.hero-label{
    display: flex;
    gap:0.8rem;
    align-items: center;
}
.hero-category, .hero-popularity{
    padding: 8px 16px;
    color:#121212;
    border: 1px solid #121212;
    border-radius: 8px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.hero-main-heading h1{
    color:#1c1623;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.hero-description p{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    line-height: 150%;
    color: #3f3f3f;
}
.hero-rating{
    display: flex;
    gap:0.5rem;
}
.hero-rating-number{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.hero-cta{
    display: flex;
    gap:1rem;
    align-items: center;
}
.hero-enroll{
    padding: 8px 24px;
    border: 2px solid #6D28D9;
    border-radius: 8px;
    background-color: #6D28D9;
    color:#f8f8ff;
    font-size: 16px;
}
.hero-enroll:hover{
    background-color: inherit;
    color: #6D28D9;
}
.hero-enrolled{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 15px;
}



.hero-sub{
    width: 30%;
    justify-content: center;
}
.hero-platform, .hero-start-date, .hero-level, .hero-duration{
    display: flex;
    flex-direction: column;
    gap:0.6rem;
}
.platform-heading, .start-date-heading, .level-heading, .duration-heading{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3f3f3f;
}
.platform-images{
    display: flex;
    gap:1rem;
}
.platform-images img{
    height: 28px;
}
.start-date, .level, .duration{
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#1c1623;
}


@media only screen and (max-width:1024px){
    .hero-section{
        padding-top: 90px;
    }
    .hero-section-container{
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap:1.5rem;
    }
    .hero-main-heading h1{
        font-size: 40px;
    }
    .hero-main, .hero-sub{
        width: 90%;
        height: max-content;
    }
    .hero-sub{
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap:2.5rem;
    }
    .start-date, .level, .duration{
        font-size: 20px;
    }

}
@media only screen and (max-width:740px){
    .hero-sub{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:2.5rem;
    }
}

@media only screen and (max-width:600px){
    .hero-section{
        padding-top: 90px;
    }
    .hero-section-container {
        gap:1rem;
    }
    .hero-main, .hero-sub{
        padding: 24px;
        width: 100%;
    }
    .hero-main{
        gap:1rem;
    }
    .hero-main-heading h1{
        font-size: 32px;
    }
    .hero-description p{
        width: 100%;
    }
    .hero-cta{
        flex-direction: column;
        align-items: stretch;
    }
    .hero-sub{
        gap:1.5rem;
        column-gap: 2.5rem;
    }
    .start-date, .level, .duration{
        font-size: 18px;
    }
    .hero-enroll{
        width: max-content;
    }
}
@media only screen and (max-width:480px){
    .hero-sub{
        display: grid;
        grid-template-columns: 1fr ;
        gap:1.5rem;
    }
}


/* -------------------------------------------------course-description------------------------------ */

.course-description{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background-color: #f9f7ff;
}
.course-description-container{
    width: 80%;
    display: flex;
    gap:4rem;
    padding-left:24px;
}
.left-description-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width:70%;
}
.about-course{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.about-course-heading h1, .course-skills-heading h1, .tools-covered h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.about-course-description p{
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Inter',sans-serif;
    line-height: 150%;
    color: #3f3f3f;
}
.course-tools{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.tools-img{
    display: flex;
    gap:1rem;
}
.tools-img img{
    height: 40px;
}
.course-skills{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
.course-skills-description ul{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.course-skills-description li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Inter',sans-serif;
    line-height: 150%;
    display: flex;
    color: #3f3f3f;
}
.course-skills-description li::before {
    content: "\2714"; /* Unicode tick mark character */
    color: #121212; /* Change color if needed */
    margin-right: 1rem; /* Add some space between tick mark and text */
  }


@media only screen and  (max-width:1200px){
    .course-description{
        padding: 60px 0px;
    }
    .course-description-container{
        flex-direction: column;
        gap: 40px;
    }
    .about-course{
        width: 80%;
    }
    .course-skills{
        width: 100%;
    }
}
@media only screen and  (max-width:1024px){
    .course-description{
        padding-bottom: 0;
    }
    .course-description-container{
        width: 80%;
        padding: 0;
    }
    .about-course{
        width: 100%;
    }
    .course-skills{
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    .course-description{
        padding-top: 40px;
    }
    .course-description-container{
        width: 85%;
        gap:30px
    }
    .left-description-container {
        width: 100%;
    }
    .about-course {
        gap:1rem;
    }
}

/* ------------------------------------------------------course-syllabus------------------------------------- */
.course-syllabus {
    padding:90px 0px;
    display: flex;
    justify-content: center;
    background-color: #f9f7ff;
}
.course-syllabus-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-left: 24px;
}
.course-syllabus-heading h1{
    font-size: 24px;
    color:#1c1623;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
}
.course-syllabus-accordion-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    background-color: #fcfefe;
    border-radius: 16px;
}
.course-syllabus-accordion{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border-bottom:1px solid #e4e4e4 ;
}
.course-syllabus-accordion:last-child{
    border-bottom: 0;
}
.syllabus-accordion-title{
    display: flex;
    justify-content: space-between;
    gap:3rem;
}
.syllabus-accordion-title h2{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.syllabus-accordion-contents p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-family: 'Inter',sans-serif;
    color: #3f3f3f;
}
.rotated {
    transform: rotate(180deg);
  }
 
  @media only screen and (max-width:1024px){
    .course-syllabus-container {
        padding-left: 0;
    }
    .course-syllabus{
        padding:60px 0px;
    }
  }
  @media only screen and (max-width:600px){
    
    .course-syllabus-container{
        width: 85%;
        gap:1.5rem;
    }
  }

  /* --------------------------------------------------PRoject-section----------------------------------------- */
  .course-project{
    display: flex;
    padding: 90px 0px;
    justify-content: center;
    background-color: #fcfefe;
  }
  .course-project-container{
    width: 80%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .course-project-heading h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color:#1c1623;
  }
  .course-projects-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
  }
  .project-box{
    width: 100%;
    max-height: 350px;
    min-height: 250px;
    border: 1px solid #e4e4e4;
    background-color: #fcfefe;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }
  .project-box-heading{
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0 ;
    border: 0;
    border-bottom: 1px solid #e4e4e4;
    max-height: 170px;
    overflow: hidden;
  }
  .project-box h2{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding: 16px;
    color:#1c1623;
  }
  .project-box-description{
  }
  .project-box-description p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    color: #3f3f3f;
  }
  .project-view-btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .project-view-btn p{
    width: max-content;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
  .project-view-btn:hover{
  }
  
 
  
  @media only screen and (max-width: 1024px){
    .course-project{
        padding: 60px 0px;
    }
    .course-project-container{
      width: 80%;
      padding-left: 0;
    }
    .course-projects-contents{
        grid-template-columns: repeat(2,1fr);
      }
    
  }
  
  @media only screen and (max-width: 600px){
   
    .course-project-container{
        width: 85%;
        gap:1.5rem;
    }
    .course-projects-contents{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    }
  }
  

  /* ------------------------------------------------------review-section-------------------- */

  .course-review{
    display: flex;
    justify-content: center;
    padding:90px 0px;
    background-color: #f9f7ff;
  }
  .course-review-container{
    width: 80%;
    padding-left:24px ;
    display: flex;
    flex-direction: column;
    gap:2rem;
   
  }
  .course-review-heading h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
  }
  .course-review-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;
  }
  .review-box{
    width: 100%;
    max-height: 350px;
    min-height: 250px;
    border: 1px solid #e4e4e4;
    background-color: #fcfefe;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    gap:2rem;
  }
  .review-box-description p{
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Inter',sans-serif;
    line-height: 150%;
    color: #3f3f3f;
  }
  .review-box-name h2{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
  }
 
  @media only screen and (max-width:1024px){
    .course-review{
        padding: 60px 0px;
    }
    .course-review-container{
        padding-left: 0;
    }
    .course-review-contents{
        grid-template-columns: repeat(2,1fr);
      }
    
  }
  @media only screen and (max-width:700px){
    .review-box{
        width: 100%; /* Set width for 1 column */
    }
  }
  @media only screen and (max-width:620px){
   
    .course-review-container{
        width: 85%;
        gap: 1.5rem;
    }
    .course-review-contents{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
      }
    .review-box{
        width: 100%; /* Set width for 1 column */
    }
  }
 
  
 
  
  
 
  
  /* -------------------------------------------certificate-section---------------------------------------------- */

  .course-certificate{
    display: flex;
    justify-content: center;
    padding:90px 0px;
    background-color: #f9f7ff;
  }
  .course-certificate-container{
    width: 80%;
    display: flex;
    flex-direction: column;
   padding-left: 24px;

  }
  .course-certificate-heading h1{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
  }
  .course-certificate-contents{
    /* display: flex;
    gap:3rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max-content;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    background-color: #fcfefe;
  }
  .course-certificate-image{
    width:100%;
    max-height: 350px;
    min-height: 200px;
  }
  .course-certificate-image img{
    width:100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .course-certificate-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.5rem;
    padding: 24px;
  }
  .course-certificate-description p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: #3f3f3f;
    font-family: 'Inter',sans-serif;
    line-height: 150%;
  }
 
  @media only screen and (max-width:1024px){
    .course-certificate{
        padding: 60px 0px;
    }
    .course-certificate-container{
        width: 85%;
        padding-left: 0;
     }
     .course-certificate-description{
        gap:1rem;
    }
  }
  @media only screen and (max-width:900px){
    .course-certificate-contents{
        display: flex;
        flex-direction: column;
    }
    .course-certificate-image img{
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
  }
 
  @media only screen and (max-width:600px){
    .course-certificate-container{
        padding-left: 0;
        width: 85%;
    }
    .course-certificate-contents{
        flex-direction: column;
    }
    .course-certificate-description{
        width: 100%;
        gap:1rem;
    }
    
  }

  /* ------------------------------------------------------course-faq------------------------------------- */
.course-faq{
    padding:90px 0px;
    display: flex;
    justify-content: center;
    background-color: #f9f7ff;
}
.course-faq-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-left: 24px;
}
.course-faq-heading h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.course-faq-accordion-container{
    display: flex;
    flex-direction: column;
   gap:0.7rem;
}
.course-faq-accordion{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    background-color: #fcfefe;
    border-radius: 16px;
    gap:1rem;
}
.faq-accordion-title{
    display: flex;
    justify-content: space-between;
    gap:3rem;
}
.faq-accordion-title h2{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.faq-accordion-contents p{
    font-size: 16px;
    font-weight: 400;
    color:#3f3f3f;
    line-height: 150%;
    font-family: 'Inter',sans-serif;
}
.rotated {
    transform: rotate(180deg);
  }

  @media only screen and (max-width:1024px){
    .course-faq{
        padding: 60px 0px;
    }
    .course-faq-container{
        width: 85%;
        padding-left: 0;
    }
  }

  /* ---------------------------------------------Payment-section----------------------------------- */

  .course-payment{
    padding:90px 0px;
    display: flex;
    justify-content: center;
    background-color: #f4f0ff;
}
.course-payment-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-left: 24px;
}
.course-payment-heading h1{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.course-payment-contents{
    display: flex;
    gap:5rem;
}
.course-payment-box{
    width:370px;
    border-radius: 16px;
    background-color: #fcfefe;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap:1.5rem;
    box-shadow: 0px 0px 41px -8px rgba(213,189,255,1);
}
.course-payment-box hr{
    border: 1px solid #f5f4f4;
}
.payment-month{
    width: max-content;
    padding: 8px 16px;
    color:#121212;
    border: 1px solid #121212;
    border-radius: 8px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.payment-starting h2{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.payment-starting h1{
    padding-top: 8px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter',sans-serif;
    color:#6D28D9;
}
.payment-points h2{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter',sans-serif;
    color:#1c1623;
}
.payment-points li{
    padding-top: 8px;
    list-style-type: none;
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color:#3f3f3f;
}
.course-payment-enroll{
    margin-top: 24px;
    height: min-content;
    padding: 8px 16px;
    border: 2px solid #6D28D9;
    border-radius: 8px;
    background-color: #6D28D9;
    color: #fcfefe;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
}
.course-payment-enroll:hover{
    background-color: #fcfefe;
    color: #6D28D9;
    font-weight: 500px;
}
.course-payment-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
}
.payment-option-heading h1{
    padding-top: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #1c1623;
    font-family: 'Inter',sans-serif;
}
.payment-options-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.payment-options-contents{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.payment-options-topic h3{
    font-size: 16px;
    font-weight: 500;
    color: #1c1623;
    font-family: 'Inter',sans-serif;
}
.payment-options-images{
    display: flex;
    gap:1.5rem;
}
.payment-options-images img{
    height: 30px;
}

@media only screen and (max-width:1024px){
    .course-payment{
        padding: 60px 0px;
    }
    .course-payment-container{
        width: 85%;
        padding-left: 0;
    }
}
@media only screen and (max-width:820px){
    .course-payment-contents{
        flex-direction: column;
        gap:2rem;
    }
}
@media only screen and (max-width:600px){
    .course-payment-container {
        width: 90%;
    }
}
@media only screen and (max-width:420px){
    .course-payment-box {
        width: 100%;
        gap: 1rem;
        padding: 16px;
    }
    .payment-starting h2{
        font-size: 18px;
    }
    .payment-starting h1{
        font-size: 20px;
    }
}