.header{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfefe;
    border-bottom: 1px solid #c9c9ca;
    position: fixed;
    z-index: 100;
 }
 .header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
 }
 .logo{
    display: flex;
    align-items: center;
 }
 .logo img{
   height: 32px;
 }
 .header-contents{
    display: flex;
    align-items: center;
 }
 .header-contents-first{
  display: flex;
 }
 .header-solutions,.header-academy,.header-resources,
 .header-login,.header-signup{
    background-color: inherit;
    padding: 16px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color:#3f3f3f;
    border: 0;
 }
 
 .solutions{
    display: flex;
    flex-direction: column;
    
 }
 .header-solutions{
    display: flex;
    align-items: center;
 }
 .header-solutions img{
    padding-left: 12px;
 }
 .header-drop-down.header-hide{
  display: none;
 }
 .header-reveal{
    display: block;
 }
 .rotate-icon { /* Added class for rotating the icon */
  transform: rotate(180deg);
  padding-right: 12px;
  padding-left: 0px;
}
 .exit-icon{
  display: none;
 }
 .solution-drop-down{
  display: none;
  padding: 24px 32px;
  position: absolute;
  top:60px;
  right:300px;
  background-color: #fcfefe;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
 }
 .solution-drop-down.s-header-reveal{
  display: block;
}
 .solution-drop-down-container{
  display: flex;
  gap:4rem;
 }
 .solutions-ui, .solutions-ux{
   display: flex;
   flex-direction: column;
   gap:1rem;
 }
 .solutions-ui-heading h1,.solutions-ux-heading h1{
    color: #1c1623;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
 }
 .solutions-ui ul, .solutions-ux ul{
  display: flex;
  flex-direction: column;
  gap:1rem;
 }
 .solutions-ui a, .solutions-ux a{
  color:#3f3f3f;
 }
 .solutions-ui li, .solutions-ux li{
  list-style-type: none;
  color: #3f3f3f;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
 }
 .header-drop-down{
    display: none;
    width: 225px;
    position: absolute;
    top:60px;
    right:490px;
    padding: 16px;
    background-color: #fcfefe;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
 }
 .header-inner-drop{
  /* border-bottom: 1px solid #d7d4d4; */
 }
 .header-drop-down button{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: inherit;
    border: 0;
    border-radius: 8px;
 }
 .header-drop-down button:hover{
  background-color: #f0ecff;
  font-weight: 500;
 }
 .header-inner-drop button.inner-drop-color{
  background-color: #f0ecff;
  font-weight: 600;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 32px;
 }
 .header-inner-drop button.clicked {
  font-weight: 600;
}
.inner-drop{
  display: none;
}
.inner-drop.header-hide{
  display: block;
}
 .inner-drop.inner-drop-color{
  background-color: #f0ecff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 8px;
  padding-left: 32px;
 }
 .inner-drop a{
    list-style: none;
    color:#121212;
    text-decoration: none;
 }
 .inner-drop li{
    list-style-type: none;
    padding: 12px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
 }
 .header-login{
    border: 2px solid #121212;
    border-radius: 8px;
    padding: 8px 20px;
    color: #3f3f3f;
    padding-right: 24px; margin-left: 8px;
 }
 .header-signup{
  margin-left: 12px;
    border: 2px solid #1c1623;
    border-radius: 8px;
    background-color: #1c1623;
    color: #fcfefe;
    padding: 8px 20px;
 }
 .header-login:hover{
  background-color: #1c1623;
    color: #fcfefe;
 }
 .header-signup:hover{
  background-color: #fcfefe;
  color: #121212;
 }
 .hamburger{
    display: none;
 }
 @media only screen and (max-width:1024px){
  .header-contents{
    align-items: flex-start;
  }
  .header-container{
    width: 93%;
  }
  .hamburger{
    display: block;
  }
  .hamburger.hide{
    display: none;
  }
  .header-contents.show-contents{
    visibility: visible;
    box-shadow: -9999px 9999px 0px 9999px rgba(0, 0, 0, 0.09);
  }
  .exit-icon.show{
    display: block;
  }
  .overflow{
    overflow: hidden;
  }
  .header-contents{
    visibility: hidden;
    width:50%;
    height: 93%;
    flex-direction: column;
    position: fixed;
    top:56px;
    right:0;
   justify-content: space-between;
    background-color: #f8f8ff;
    padding: 24px;
    overflow-y: scroll;
    gap:4rem;
  }
  .header-contents-first{
    flex-direction: column;
  }
  .header-contents-second{
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  .header-contents-first,.header-contents-second{
    width:100%;
 }
  .solutions{
    width: 100%;
  }
  .solutions,.header-academy,.header-resources{
    text-align: left;
    
  }
  .header-solutions,.header-academy,.header-resources,
 .header-login,.header-signup{
  width: 100%;
  font-size: 18px;
 }
 .header-solutions:hover,.header-academy:hover,.header-resources:hover{
  border-radius: 8px;
  background-color: #f0ecff;
 }
 .header-solutions{
  justify-content: space-between;
 }
 .header-solutions.outer-drop-color{
  font-weight: 500;
 }
 .header-login{
  margin: 0;
 }
 .header-signup{
  margin: 0;
 }
 .solution-drop-down.s-header-reveal{
  display:none;
 }
 .header-drop-down{
  display: none;
  width: 100%;
  position: relative;
  top:0;
  right:0;
  background-color: inherit;
  box-shadow:0px 0px 0px 0px;
  padding: 0px;
 }
 .header-drop-down.header-reveal{
  display: block;
 }
 .header-inner-drop{
  padding-left: 32px;
  margin:4px 0px;
 }
 .header-inner-drop img{
  transform: rotate(270deg);
 }
 .inner-drop{
  padding-bottom: 8px;
 }
 
 }
 @media only screen and (max-width:600px){
  .header-container{
    width: 85%;
  }
  .header-contents{
    width: 100%;
  }
 }

